html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
@media (min-width: 1668px) {
    html {
        font-size: 65%; /** For Tablets and Firefox**/
    }
}
@media (min-height: 2388px) {
    html {
        font-size: 100%; /** For Ipad Pro**/
    }
}
@media (min-width: 2388px) {
    html {
        font-size: 125%; /** For Ipad Pro**/
    }
}
*,
*:before,
*:after {
box-sizing: inherit;
}
/* Here ends the code of Paul Irish */
/* GLOBAL */
:root {
--mainColor: rgb(0, 61, 96);
--darkColor: rgb(0, 28, 44);
--inputColor: rgba(255, 255, 255, 0.575);
--whiteColor: aliceblue;
}
input::-ms-reveal, input::-ms-clear {
    display: none;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../Roboto/Roboto-Thin.ttf);
}
.page-container {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}
/* Index */
/***** Login Background  *****/
#particles-js {
    margin: 0 auto;
    background: rgb(28,181,224);
    background: radial-gradient(circle, rgb(189, 238, 245) 0%, #103F50 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
}
/***** Login Container CAPSULE *****/
.login-container { 
    margin: auto;
    position: absolute;
    text-align: center;
    max-width: 45rem;
    max-height: 65rem;
    border-radius: 38%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 8rem;
}
@media (min-width: 768px) {
    .login-container {
        top: 6rem;
    }
}
@media (min-width: 1080px) {
    .login-container {
        top: 0rem;
    }
}
/***** Login Image *****/
.img-login img {
    margin: 0 auto;
    width: 18rem;
    height: 6.5rem;
    border-bottom: 0.1rem solid #fff;
}
@media (min-width: 768px) {
    .img-login img {
        width: 22rem;
        height: 8rem;
    }
}
@media (min-width: 1080px) {
    .img-login img {
        border-bottom: 0.2rem solid #fff;
        margin: 0rem 0rem 2rem 0rem; 
        width: 24.5rem;
        height: 10.5rem;
    }
}
.img-login p {
    margin: 0 auto;
    margin-top: 0.8rem;
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    font-family: Roboto-Light;
}
@media (min-width: 360px) {
    .img-login p {
        margin-top: 0.75rem;
        font-size: 1.6rem;
    }
}
@media (min-width: 768px) {
    .img-login p {
        margin-top: 0;
        font-size: 2.1rem;
    }
}
/***** Login field *****/
.login-form {
    padding-top: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    width: 85%;
    height: 30rem;
    max-width: 26rem;
    font-family: Roboto-Regular;
    line-height: 2;
    font-size: 1.2rem; 
}
@media (min-width: 360px) {
    .login-form {
        width: 90%;
        font-size: 1.35rem;
        height: 36rem;
        max-width: 32rem;
    }
}
@media (min-width: 768px) {
    .login-form {
        height: 45rem;
        max-width: 40rem;
        font-size: 1.8rem; 
    }
}
/***** Login Input *****/
.input-login {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1.4rem;  
}
@media (min-width: 768px) {
    .input-login {
        font-size: 1.8rem;  
    }
}
.input-login label {
    color:var(--darkColor);
    margin: 1rem 0 0 0;
}
.input-login label:hover {
    cursor: text;
}
.input-login label:last-child {
    margin-bottom: 2rem;
}
.inputL {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--inputColor) ;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    outline: 0;
    padding: 0.65rem 0;
    color:var(--darkColor);
    border: 0.8rem;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.226),
                inset 4px 4px 10px rgba(196, 241, 255, 0.602),
                inset -4px -4px 10px rgba(255, 255, 255, 0.534)
                    ,
                4px 4px 10px rgba(255, 255, 255, 0.05);
}
@media (min-width: 768px) {
    .input-login input {
        font-size: 1.8rem;  
    }
}
.inputB, .inputB2 {
    margin: 0;
    display: flex;
    text-align: center;
    width: 100%;
    max-height:100%;
    padding: 0.118rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.inputB:hover {
    cursor: text;
}
.inputB i {
    margin-left: 1rem;
}
.inputB i:hover {
    cursor: pointer;
}
.inputB input {
    padding: 0.565rem 0;
    position: relative;
    width: 88%;
    max-height:100%;
    text-align: center;
    color:var(--darkColor);
    background-color: transparent;
    border: 0;
    outline: 0;
    left: 1.5rem;
}
/***** Login Buttons *****/
.buttons-login {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
.my-button-login i {
    margin: 1rem;
}
.my-button-login {
    text-decoration: none;
    text-align: center;
    color: var(--darkColor);
    background-color: #fff;
    text-decoration: none;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 0.6rem 0.6rem;
    width: 20rem;
    height: 4rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    text-shadow: 0.2rem 0.1rem 0.05rem #d0daffbd;
    -webkit-box-shadow: 0.35rem 0.25rem 10px var(--mainColor);
    -moz-box-shadow: 0.15rem 0.25rem 10px var(--mainColor);
    box-shadow: 0.15rem 0.15rem 10px var(--mainColor);
    border: none;
}
@media (min-width: 768px) {
    .my-button-login {
        width: 25rem;
        height: 5rem;  
    }
}
.my-button-login:hover {
    transition: all .3s ease-in-out;
    color: var(--whiteColor);
    cursor: pointer;
    background-color: var(--mainColor);
    text-shadow: 0.3rem 0.2rem 0.1rem var(--darkColor);
}
/***** Login Forgot password *****/
.forgot-password-login {
    margin-top: 2rem;
}
.forgot-password-login a {
    text-decoration: none;
    color: var(--whiteColor);
}
.forgot-password-login a:hover {
    cursor: pointer;
    transition: all .3s ease;
    color: var(--darkColor);
}
/***** Login Modal Containers *****/
.modal {
    background-color: rgba(0, 0, 0, 0.486);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0.7s ease;
}
.modal {
    display: block !important; /* Scroll for Modal */
}
@media (min-width: 1080px) { 
    .modal {
        display:inline; /* Scroll for Modal */
    }
}
#registro:target {
    opacity:1;
    pointer-events:auto;
}
.modal-container {
    text-align: left;
    background-color:var(--darkColor);
    padding: 0.5rem 1.2rem;
    width: 100%;
    height: 100%; /* From Ipad to phone */
    overflow-y: auto; /* Scroll for Modal */
}
@media (min-width: 768px) {
    .modal-container {
        padding: 2rem 3rem;
    }
}
@media (min-width: 1080px) { 
    .modal-container {
        width: 110rem;
        height: 62rem;
        margin: 5% auto;
        overflow-y: hidden; /* Scroll for Modal */
    }
}
/***** Icon Login Modal *****/
.icon-modal {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 2rem;
}
@media (min-width: 360px) {
    .icon-modal {
        font-size: 3rem;
    }
}
@media (min-height: 1366px) { /* For Ipad Pro */
    .icon-modal {
        font-size: 4rem;
    }
}
.icon-modal:hover {
    transition: all 0.4s ease;
    color: var(--whiteColor);
}
/***** Columns Modal *****/
.grid-columns {
    color: #fff; /* All color of the items */
    margin: 0.5% 0% 1.5% 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
}
@media (min-width: 360px) {
    .grid-columns {
        color: #fff; /* All color of the items */
        margin: 0.5% 0% 1.5% 0%;
        display: grid;
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 760px) {
    .grid-columns {
        margin: 0.5% 0% 1.5% 0%;
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 1080px) {
    .grid-columns {
        margin: 0.5% 0% 1.5% 0%;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
} 
.section-modal h2 {
    text-align: center;
    margin: 0 0 8% 0;
    font-family: Roboto-Light;
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0;
}
@media (min-width: 1080px) {
    .section-modal h2 {
        margin: 0;
    }
}
.column-one {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 3rem 1.2rem;
    border-bottom: 0.1rem solid var(--whiteColor);
}
@media (min-width: 1080px) {
    .column-one {
        border-bottom: 0;
        border-right: 0.1rem solid var(--whiteColor);
    }
}
.column-two {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 3rem 1.2rem;
    border-bottom: 0.1rem solid var(--whiteColor);
}
@media (min-width: 1080px) {
    .column-two {
        border-bottom: 0;
        border-right: 0.1rem solid var(--whiteColor);
    }
}
.column-three {
    display: grid;
    grid-template-rows:  repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 0 1.2rem;
    margin-bottom: 5rem;
}
@media (min-width: 1080px) {
    .column-three {
        margin: 0;
        padding: 3rem 1.2rem;
    }
}
/***** Item Modal *****/
.item-grid label {
    display: block;
    font-family: Roboto-Regular;
    font-size: 1.2rem;
}
@media (min-width: 300px) {
    .item-grid label {
        font-size: 1.6rem;
    }
}
.item-grid label:hover {
    cursor: text;
}
.item-grid input, .input, .inputL2 {
    outline: 0;
    width: 100%; 
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.8rem;
    color: #fff;
    background-color:rgba(117, 117, 117, 0.609);
    height: 2.7rem;
    border: 0;
}
.inputL2 input {
    height: 2.68rem;
    padding: 0;
    width: 88.2%;
    left: 1.74rem;
    position: relative;
    background-color: transparent;
    margin: 0;
}
.inputB2 {
    
    margin: auto auto;
    margin-top: 0.5rem;
}
.inputB2 i {
    margin-left: 1.75rem;
}
.inputB2 i:hover {
    cursor: pointer;
}
@media (min-width: 300px) {
    .item-grid input, .input {
        font-size: 1.52rem;
    }
}
.item-grid input::placeholder, .input, .inputL2 input {
    color:rgba(255, 255, 255, 0.774);
}
@media (min-width: 768px) {
    .input-login input {
        font-size: 1.8rem;  
    }
}
/***** Button Modal *****/
.button-modal {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
@media (min-width: 1080px) {
    .button-modal {
        margin-bottom: 0;
    }
}
.button-modal button {
    width: 26rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    color: var(--darkColor);
    background-color: #fff;
    border: 0;
    padding: 0.2rem;
    font-family: Roboto-Regular;
    font-size: 2rem;
}
.button-modal button i {
    margin: 1.5rem;
}
@media (min-width: 1080px) {
    .button-modal button {
        width: 20rem;
        font-size: 1.8rem;
    }
    .button-modal button i {
        margin: 1rem;
    }
}
.button-modal button:hover {
    transition: all 0.2s ease;
    cursor: pointer;
    color:var(--whiteColor);
    background-color: var(--mainColor);
}
/* */
/* homeAdministrador and homeCandidato GLOBAL*/
.header {
    background-color: var(--mainColor);
    margin-bottom: 2.5rem;
    top: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.header-container {
    width: 145rem;
    height: 8rem;
    position: absolute;
    margin: 0 auto;
    /*background-color: wheat;*/
}
.logo-home img {
    height: 16rem;
    width: 20rem;
    margin: 0;
}
.footer {
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    color: white;
}
/* Table Admin */
.table {
    font-family: Roboto-Regular;
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: var(--whiteColor);
}

