html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/

}
p {
    margin: auto !important;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* Here ends the code of Paul Irish */
/* GLOBAL */
:root {
    --mainColor: rgb(0, 61, 96);
    --darkColor: rgb(0, 28, 44);
    --inputColor: rgba(255, 255, 255, 0.575);
    --whiteColor: aliceblue;
}
input::-ms-reveal, input::-ms-clear {
    display: none;
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Thin;
    src: url("../Roboto/Roboto-Thin.ttf");
}
.page-container {
    margin: 0 auto;
    max-width: 120rem;

}
/* Valid Inputs */
pre {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 32rem;
    text-align: center;
}
.resultado {
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 0, 0, 0.74);
    font-weight: bold;
}
.gray {
    padding: 0;
    margin: 0;
    position: fixed;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2rem;
    color: grey;
}
.resultado.ok {
    color: green;
}
/* Index */
/***** Login Background  *****/
#particles-js {
    margin: 0 auto;
    background: rgb(28,181,224);
    background: radial-gradient(circle, rgb(189, 238, 245) 0%, #103F50 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
}
/***** Login Container CAPSULE *****/
.login-container {
    margin: auto;
    position: absolute;
    text-align: center;
    max-width: 45rem;
    max-height: 65rem;
    border-radius: 38%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 8rem;
}
@media (min-width: 768px) {
    .login-container {
        top: 6rem;
    }
}
@media (min-width: 1080px) {
    .login-container {
        top: 0;
    }
}
/***** Login Image *****/
.img-login img {
    margin: 0 auto;
    width: 18rem;
    height: 6.5rem;
    border-bottom: 0.1rem solid #fff;
}
@media (min-width: 768px) {
    .img-login img {
        width: 22rem;
        height: 8rem;
    }
}
@media (min-width: 1080px) {
    .img-login img {
        border-bottom: 0.2rem solid #fff;
        margin: 0 0 2rem 0;
        width: 24.5rem;
        height: 10.5rem;
    }
}
.img-login p {
    margin: 0.8rem auto 0 auto;
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    font-family: "Roboto-Light", sans-serif;
}
@media (min-width: 360px) {
    .img-login p {
        margin-top: 0.75rem;
        font-size: 1.6rem;
    }
}
@media (min-width: 768px) {
    .img-login p {
        margin-top: 0;
        font-size: 2.1rem;
    }
}
/***** Login field *****/
.login-form {
    padding-top: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    width: 85%;
    height: 30rem;
    max-width: 26rem;
    font-family: "Roboto-Regular", sans-serif;
    line-height: 2;
    font-size: 1.2rem;
}
@media (min-width: 360px) {
    .login-form {
        width: 90%;
        font-size: 1.35rem;
        height: 36rem;
        max-width: 32rem;
    }
}
@media (min-width: 768px) {
    .login-form {
        height: 45rem;
        max-width: 40rem;
        font-size: 1.8rem;
    }
}
/***** Login Input *****/
.input-login {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1.4rem;
}
@media (min-width: 768px) {
    .input-login {
        font-size: 1.8rem;
    }
}
.input-login label {
    color:var(--darkColor);
    margin: 1rem 0 0 0;
}
.input-login label:hover {
    cursor: text;
}
.input-login label:last-child {
    margin-bottom: 2rem;
}
.inputL {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--inputColor) ;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    outline: 0;
    padding: 0.65rem 0;
    color:var(--darkColor);
    border: 0.8rem;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.226),
    inset 4px 4px 10px rgba(196, 241, 255, 0.602),
    inset -4px -4px 10px rgba(255, 255, 255, 0.534)
    ,
    4px 4px 10px rgba(255, 255, 255, 0.05);
}
@media (min-width: 768px) {
    .input-login input {
        font-size: 1.8rem;
    }
}
.inputB, .inputB2 {
    margin: 0;
    display: flex;
    text-align: center;
    width: 100%;
    max-height:100%;
    padding: 0.118rem 0;
    align-items: center;
    justify-content: center;
}
.inputB:hover {
    cursor: text;
}
.inputB i {
    margin-left: 1rem;
}
.inputB i:hover {
    cursor: pointer;
}
.inputB input {
    padding: 0.565rem 0;
    position: relative;
    width: 88%;
    max-height:100%;
    text-align: center;
    color:var(--darkColor);
    background-color: transparent;
    border: 0;
    outline: 0;
    left: 1.5rem;
}
/***** Login Buttons *****/
.buttons-login {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
.my-button-login i {
    margin: 1rem;
}
.my-button-login {
    text-decoration: none;
    text-align: center;
    color: var(--darkColor);
    background-color: #fff;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 0.6rem 0.6rem;
    width: 20rem;
    height: 4rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    text-shadow: 0.2rem 0.1rem 0.05rem #d0daffbd;
    -webkit-box-shadow: 0.35rem 0.25rem 10px var(--mainColor);
    -moz-box-shadow: 0.15rem 0.25rem 10px var(--mainColor);
    box-shadow: 0.15rem 0.15rem 10px var(--mainColor);
    border: none;
}
@media (min-width: 768px) {
    .my-button-login {
        width: 25rem;
        height: 5rem;
    }
}
.my-button-login:hover {
    transition: all .3s ease-in-out;
    color: var(--whiteColor);
    cursor: pointer;
    background-color: var(--mainColor);
    text-shadow: 0.3rem 0.2rem 0.1rem var(--darkColor);
}
/***** Login Forgot password *****/
.forgot-password-login {
    margin-top: 2rem;
}
.forgot-password-login a {
    text-decoration: none;
    color: var(--whiteColor);
}
.forgot-password-login a:hover {
    cursor: pointer;
    transition: all .3s ease;
    color: var(--darkColor);
}
/***** Login Modal Containers *****/
.modal {
    background-color: rgba(0, 0, 0, 0.486);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0.7s ease;
}
.modal {
    display: block !important; /* Scroll for Modal */
}
@media (min-width: 1080px) {
    .modal {
        display:inline; /* Scroll for Modal */
    }
}
#registro:target {
    opacity:1;
    pointer-events:auto;
}
.modal-container {
    text-align: left;
    background-color:var(--darkColor);
    padding: 0.5rem 1.2rem;
    width: 100%;
    height: 100%; /* From Ipad to phone */
    overflow-y: auto; /* Scroll for Modal */
}
@media (min-width: 768px) {
    .modal-container {
        padding: 2rem 3rem;
    }
}
@media (min-width: 1080px) {
    .modal-container {
        width: 110rem;
        height: 62rem;
        margin: 5% auto;
        overflow-y: hidden; /* Scroll for Modal */
    }
}
/***** Icon Login Modal *****/
.icon-modal {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 2rem;
}
@media (min-width: 360px) {
    .icon-modal {
        font-size: 3rem;
    }
}
@media (min-height: 1366px) { /* For Ipad Pro */
    .icon-modal {
        font-size: 4rem;
    }
}
.icon-modal:hover {
    transition: all 0.4s ease;
    color: var(--whiteColor);
}
/***** Columns Modal *****/
.grid-columns {
    color: #fff; /* All color of the items */
    margin: 0.5% 0 1.5% 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
}
@media (min-width: 360px) {
    .grid-columns {
        color: #fff; /* All color of the items */
        display: grid;
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 760px) {
    .grid-columns {
        width: 75%;
        margin: 0 auto;
    }
}
@media (min-width: 1080px) {
    .grid-columns {
        margin: 0.5% 0 1.5% 0;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
.section-modal h2 {
    text-align: center;
    font-family: "Roboto-Light", sans-serif;
    font-size: 1.8rem;
    margin: 4rem 0 2rem 0;
}
@media (min-width: 1080px) {
    .section-modal h2 {
        margin: 0;
    }
}
.column-one {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 3rem 1.2rem;
    border-bottom: 0.1rem solid var(--whiteColor);
}
@media (min-width: 1080px) {
    .column-one {
        border-bottom: 0;
        border-right: 0.1rem solid var(--whiteColor);
    }
}
.column-two {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 3rem 1.2rem;
    border-bottom: 0.1rem solid var(--whiteColor);
}
@media (min-width: 1080px) {
    .column-two {
        border-bottom: 0;
        border-right: 0.1rem solid var(--whiteColor);
    }
}
.column-three {
    display: grid;
    grid-template-rows:  repeat(4, 1fr);
    grid-row-gap: 1.3rem;
    padding: 0 1.2rem;
    margin-bottom: 5rem;
}
@media (min-width: 1080px) {
    .column-three {
        margin: 0;
        padding: 3rem 1.2rem;
    }
}
/***** Item Modal *****/
.item-grid label {
    display: block;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2rem;
}
@media (min-width: 300px) {
    .item-grid label {
        font-size: 1.6rem;
    }
}
.item-grid label:hover {
    cursor: text;
}
.item-grid input, .input, .inputL2 {
    outline: 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.8rem;
    color: #fff;
    background-color:rgba(117, 117, 117, 0.609);
    height: 2.7rem;
    border: 0;
}
.inputL2 input {
    height: 2.68rem;
    padding: 0;
    width: 88.2%;
    left: 1.74rem;
    position: relative;
    background-color: transparent;
    margin: 0;
}
.inputB2 {
    margin: 0.5rem auto auto auto;
}
.inputB2 i {
    margin-left: 1.75rem;
}
.inputB2 i:hover {
    cursor: pointer;
}
@media (min-width: 300px) {
    .item-grid input, .input {
        font-size: 1.52rem;
    }
}
.item-grid input::placeholder, .input, .inputL2 input {
    color:rgba(255, 255, 255, 0.774);
}
@media (min-width: 768px) {
    .input-login input {
        font-size: 1.8rem;
    }
}

/***** Button Modal *****/
.button-modal {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
@media (min-width: 1080px) {
    .button-modal {
        margin-bottom: 0;
    }
}
.button-modal button {
    width: 26rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    border-radius: 2.8rem;
    color: var(--darkColor);
    background-color: #fff;
    border: 0;
    padding: 0.2rem;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 2rem;
}
.button-modal button i {
    margin: 1.5rem;
}
@media (min-width: 1080px) {
    .button-modal button {
        width: 20rem;
        font-size: 1.8rem;
    }
    .button-modal button i {
        margin: 1rem;
    }
}
.button-modal button:hover {
    transition: all 0.2s ease;
    cursor: pointer;
    color:var(--whiteColor);
    background-color: var(--mainColor);
}
/* */
/* homeAdministrador and homeCandidato GLOBAL*/
.header {
    background-color: var(--mainColor);
    margin-bottom: 2.5rem;
    top: 0;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (min-width: 768px) {
    .header {
        text-align: start;
        height: 10rem;
        display: grid;
    }
}
.header-container {
    width: 100%;
    height: 8rem;
    position: absolute;
    margin: 1rem auto 0 auto;
    display: block;
}
@media (min-width: 768px) {
    .header-container {
        display:flex;
    }
}
.logo-home {
    display: block;
    align-items: center;
}
@media (min-width: 768px) {
    .logo-home {
        display: flex;
    }
}
.logo-home h2 {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.5rem;
    color: #fff;
}
@media (min-width: 768px) {
    .logo-home h2 {
        font-size: 2rem;
        padding-left: 1rem;
    }
}
.logo-home img {
    height: 5rem;
    width: 20rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid #fff 0.1rem;
}
@media (min-width: 768px) {
    .logo-home img {
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        float: left;
        padding-right: 1rem;
        border-right: 0.2rem solid #fff;
        margin-left: 3rem;
    }
}
.right-container {
    display: inline;
    align-items: center;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .right-container {
        display: flex;
    }
}
.right {
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .right {
        margin-left: 0;
        position: absolute;
        float: right;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
}

@media (min-width: 980px) {
    .right {
        margin-left: 6%;
    }
}
@media (min-width: 1130px) {
    .right {
        margin-left: 10%;
    }
}
@media (min-width: 1350px) {
    .right {
        margin-left: 17%;
    }
}

.welcome {
    font-family: "Roboto-Regular", sans-serif;
    color: white;
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .welcome {
        font-size: 1.6rem;
        margin-right: 2rem;
    }
}
.logOut-page {
    margin: 0 1rem;
}
button.button-page {
    text-decoration: none;
    font-family: "Roboto-Regular", sans-serif;
    padding: 0.6rem 2rem;
    background-color: aliceblue;
    outline: none;
    margin-top: 1rem;
}
@media (min-width: 768px) {
    button.button-page {
        margin-top: 0;
        text-decoration: none;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 1.3rem;
        padding: 0.6rem 2rem;
        background-color: aliceblue;
        outline: none;
    }
}
.logOut-page button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffff 0, #f0f7fb 25%, #cde5f2 50%, #abd2ea 75%, #8dc0e4 100%);
}
.page-container {
    margin: 1rem 0;
}
@media (min-width: 768px) {
    .page-container {
        margin: 1rem auto;
    }
}

/* Export Admin */
.table-bar {
    text-align: center;
    margin-bottom: 3rem;

}
@media (min-width: 768px) {
    .table-bar {
        margin: 0 auto;
        display: flex;
    }
}
.export button {
    color: var(--darkColor);
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
    font-size: 1.2rem;
    margin: 0.5rem;
    border: 1px solid #979797;
    border-radius: 2px;
}
.export button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: inset 0 0 2px 1px rgba(128, 128, 128, 0.698);
}
.table {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}
@media (max-width: 900px) {
    .table {
        overflow-y: scroll;
    }
}
@media (min-width: 768px) {
    .table {
        font-size: 1.2rem;
    }
}
/* Table */
thead {
    font-family: "Roboto-Light", sans-serif;
    color: #fff;
    background-color: var(--mainColor);
}
tbody {
    color: var(--darkColor);
    overflow-y: scroll;
    background-color:#eee;
}
@media (min-width: 900px) {
    tbody {
        color: var(--darkColor);
        overflow: unset;
        overflow-y: scroll;
    }
}
.minTable-container {
    text-align: center;
    align-items: center!important;
}
/* Switch Table*/
.switch {
    position: relative;
    display: inline-block;
}
.switch-input {
    display: none;
}
.switch-label {
    display: block;
    width: 3rem;
    height: 1.5rem;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}
.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}
.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
.switch-label::after {
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
    background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
    left: 1.8rem;
}

/* Modal Admin */
.modal-container-p {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-p {
    width: 70%;
    max-width: 120rem;
    height: 75%;
    max-height: 80rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 1rem;
    overflow-y: auto;
    background-color:#eee;
}
@media (min-width: 1080px) {
    .modal-p {
        overflow-y: hidden; /* Scroll for Modal */
    }
}
fieldset {
    margin: 0 auto;
    justify-content: center;
    max-width: 80%;
    line-height: 1.5;
    font-size: 1rem;
}
@media (min-width: 768px) {
    fieldset {
        margin: 0 auto;
        justify-content: center;
        max-width: 80%;
        line-height: 1.5;
        font-size: 1.4rem;
    }
}
.modal-text-p h2 {
    font-size: 1.4rem;
}
@media (min-width: 1080px) {
    .modal-text-p h2 {
        font-size: 1.8rem;
    }
}
fieldset {
    color: var(--darkColor);
}
legend {
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.modal-close-p {
    transform: translateY(-200%);
}
.close-p {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(0, 28, 44);
    color:#fff;
    line-height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
}
.close-p:hover {
    background-color: rgb(170, 224, 255);
    color:rgb(0, 28, 44);
}
.flex-column {
    display: flex;
    margin: 0 auto;
}
