html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/

}
@media (min-width: 1668px) {
    html {
        font-size: 65%; /** For Tablets and Firefox**/
    }
}
@media (min-height: 2388px) {
    html {
        font-size: 100%; /** For Ipad Pro**/
    }
}
@media (min-width: 2388px) {
    html {
        font-size: 90%; /** For Big Monitor 2k**/
    }
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* Here ends the code of Paul Irish */
/* GLOBAL */
:root {
    --mainColor: rgb(0, 61, 96);
    --darkColor: rgb(0, 28, 44);
    --inputColor: rgba(255, 255, 255, 0.575);
    --whiteColor: aliceblue;
}
input::-ms-reveal, input::-ms-clear {
    display: none;
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-Thin;
    src: url("../Roboto/Roboto-Thin.ttf");
}
.page-container {
    margin: 0 auto;
    max-width: 120rem;
}
.header {
    background-color: var(--mainColor);
    margin-bottom: 2.5rem;
    top: 0;
    height: 22rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (min-width: 768px) {
    .header {
        text-align: start;
        height: 10rem;
        display: grid;
    }
}
.header-container {
    width: 100%;
    height: 8rem;
    position: absolute;
    margin: 1rem auto 0 auto;
    display: block;
}
@media (min-width: 768px) {
    .header-container {
        display:flex;
    }
}
.logo-home {
    display: block;
    align-items: center;
}
@media (min-width: 768px) {
    .logo-home {
        display: flex;
    }
}
.logo-home h2 {
    font-family: "Roboto-Thin", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight:bold!important;
    margin-top: 1rem!important;
}
@media (min-width: 768px) {
    .logo-home h2 {
        font-size: 2rem;
        padding-left: 1rem;
    }
}
.logo-home img {
    height: 5rem;
    width: 20rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid #fff 0.1rem;
}
@media (min-width: 768px) {
    .logo-home img {
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        float: left;
        padding-right: 1rem;
        border-right: 0.2rem solid #fff;
        margin-left: 3rem;
    }
}
.right-container {
    display: inline;
    align-items: center;
    margin: 0 auto;
}
@media(min-width: 768px) {
    .right-container {
        display: flex;
    }
}
.right {
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .right {
        margin-left: 0;
        position: absolute;
        float: right;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
}
@media (min-width: 980px) {
    .right {
        margin-left: 6%;
    }
}
@media (min-width: 1130px) {
    .right {
        margin-left: 10%;
    }
}
@media (min-width: 1350px) {
    .right {
        margin-left: 17%;
    }
}
.welcome {
    font-family: "Roboto-Regular", sans-serif;
    color: white;
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .welcome {
        font-size: 1.6rem;
        margin-right: 2rem;
    }
}
.logOut-page {
    margin: 0 1rem;
}
button.button-page {
    text-decoration: none;
    font-family: "Roboto-Regular", sans-serif;
    padding: 0.6rem 2rem;
    background-color: aliceblue;
    outline: none;
}
@media (min-width: 768px) {
    button.button-page {
        margin-top: 0;
        text-decoration: none;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 1.3rem;
        padding: 0.6rem 2rem;
        background-color: aliceblue;
        outline: none;
    }
}
.logOut-page button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffff 0, #f0f7fb 25%, #cde5f2 50%, #abd2ea 75%, #8dc0e4 100%);
}
.page-container {
    margin: 1rem 0;
}
@media (min-width: 768px) {
    .page-container {
        margin: 1rem auto;
    }
}
.tittle {
    color: var(--darkColor);
    font-family: "Roboto-Regular", sans-serif;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}
@media(max-width: 768px) {
    .tittle {
        display: none;
    }
}

/* Table */
.table {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .table {
        font-size: 1.2rem;
    }
}
thead {
    font-family: "Roboto-Light", sans-serif;
    color: #fff;
    background-color: var(--mainColor);
}
tbody {
    color: var(--darkColor);
    background-color:#eee;
}
@media (min-width: 900px) {
    tbody {
        color: var(--darkColor);
        overflow: unset;
    }
}
td {
    white-space:normal!important;
}

th, td {
    text-align: center!important;
    align-items: center!important;
}

.minTable-container {
    text-align: center;
    align-items: center!important;
}

/* Switch Table */
.switch {
    position: relative;
    display: inline-block;
}
.switch-input {
    display: none;
}
.switch-label {
    display: block;
    width: 3rem;
    height: 1rem;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}
.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}
.switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
.switch-label::after {
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
    background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
    left: 1.8rem;
}
p {
    margin: 0!important;
}

/* Modal Admin */
.modal-container-p {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-p {
    width: 70%;
    max-width: 120rem;
    height: 75%;
    max-height: 80rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 1rem;
    overflow-y: auto;
    background-color: #eee;
}
@media (min-width: 1080px) {
    .modal-p {
        overflow-y: hidden; /* Scroll for Modal */
    }
}
.modal-text-p {
    margin: 0 auto;
}
.modal-text-p h2 {
    font-size: 1.4rem;
    color: red;
}
@media (min-width: 1080px) {
    .modal-text-p h2 {
        font-size: 1.8rem;
    }
}
.modal-close-p {
    transform: translateY(-200%);
}
.close-p {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(0, 28, 44);
    color: #fff;
    line-height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    font-family: "Times New Roman", Times, serif;
}
.close-p:hover {
    background-color: rgb(170, 224, 255);
    color: rgb(0, 28, 44);
}
.flex-column {
    display: flex;
    margin: 0 auto;
}
a:link {
    color: var(--mainColor);
}
a:visited {
    color: var(--mainColor);
}
a:active {
    color: green;
}